<link rel="stylesheet" type="text/css" href="/css/navbar.css" />
{{!-- <%- contentFor('nav_bar') %> --}}
<nav class="NXc7H jLuN9">
  <div class="R4HNP"></div>
  <div class="_8MQSO Cx7Bp">
    <div class="_lz6s Hz2lF">
      <div class="MWDvN nfCOa">
        <div class="oJZym">
          <a class="" href="/" tabindex="0">
            <div class="Igw0E rBNOH eGOV_ ybXk5 _4EzTm">
              <div class="cq2ai">
                <img
                  alt="Instagram"
                  class="s4Iyt"
                  src="https://www.instagram.com/static/images/web/mobile_nav_type_logo.png/735145cfe0a4.png"
                  src="https://www.instagram.com/static/images/web/mobile_nav_type_logo-2x.png/1b47f9d0e595.png"
                />
              </div>
            </div>
          </a>
        </div>
        <div class="LWmhU _0aCwM">
          <input
            class="XTCLo x3qfX"
            type="text"
            autocapitalize="none"
            placeholder="Search"
            value=""
          />
          <div class="pbgfb Di7vw" role="button" tabindex="0">
            <div class="eyXLr wUAXj">
              <span class="_6RZXI coreSpriteSearchIcon"></span
              ><span class="TqC_a">Search</span>
            </div>
          </div>
        </div>
        <div class="ctQZg">
          <div class="_47KiJ">
            <div class="Fifk5">
              <div class="">
                <a href="/" tabindex="0"
                  ><svg
                    aria-label="Home"
                    class="_8-yf5"
                    fill="#262626"
                    height="22"
                    viewBox="0 0 48 48"
                    width="22"
                  >
                    <path
                      d="M45.5 48H30.1c-.8 0-1.5-.7-1.5-1.5V34.2c0-2.6-2.1-4.6-4.6-4.6s-4.6 2.1-4.6 4.6v12.3c0 .8-.7 1.5-1.5 1.5H2.5c-.8 0-1.5-.7-1.5-1.5V23c0-.4.2-.8.4-1.1L22.9.4c.6-.6 1.6-.6 2.1 0l21.5 21.5c.3.3.4.7.4 1.1v23.5c.1.8-.6 1.5-1.4 1.5z"
                    ></path></svg
                ></a>
              </div>
            </div>
            <div class="Fifk5">
              <a class="xWeGp" href="/direct/inbox/" tabindex="0"
                ><svg
                  aria-label="Direct"
                  class="_8-yf5"
                  fill="#262626"
                  height="22"
                  viewBox="0 0 48 48"
                  width="22"
                >
                  <path
                    d="M47.8 3.8c-.3-.5-.8-.8-1.3-.8h-45C.9 3.1.3 3.5.1 4S0 5.2.4 5.7l15.9 15.6 5.5 22.6c.1.6.6 1 1.2 1.1h.2c.5 0 1-.3 1.3-.7l23.2-39c.4-.4.4-1 .1-1.5zM5.2 6.1h35.5L18 18.7 5.2 6.1zm18.7 33.6l-4.4-18.4L42.4 8.6 23.9 39.7z"
                  ></path></svg
              ></a>
              <div class="_2g5Gx"></div>
            </div>
            <div class="Fifk5">
              <a href="/explore/" tabindex="0"
                ><svg
                  aria-label="Find People"
                  class="_8-yf5"
                  fill="#262626"
                  height="22"
                  viewBox="0 0 48 48"
                  width="22"
                >
                  <path
                    clip-rule="evenodd"
                    d="M24 0C10.8 0 0 10.8 0 24s10.8 24 24 24 24-10.8 24-24S37.2 0 24 0zm0 45C12.4 45 3 35.6 3 24S12.4 3 24 3s21 9.4 21 21-9.4 21-21 21zm10.2-33.2l-14.8 7c-.3.1-.6.4-.7.7l-7 14.8c-.3.6-.2 1.3.3 1.7.3.3.7.4 1.1.4.2 0 .4 0 .6-.1l14.8-7c.3-.1.6-.4.7-.7l7-14.8c.3-.6.2-1.3-.3-1.7-.4-.5-1.1-.6-1.7-.3zm-7.4 15l-5.5-5.5 10.5-5-5 10.5z"
                    fill-rule="evenodd"
                  ></path></svg
              ></a>
            </div>
            <div class="Fifk5">
              <a class="_0ZPOP kIKUG" href="/accounts/activity/"
                ><svg
                  aria-label="Activity Feed"
                  class="_8-yf5"
                  fill="#262626"
                  height="22"
                  viewBox="0 0 48 48"
                  width="22"
                >
                  <path
                    d="M34.6 6.1c5.7 0 10.4 5.2 10.4 11.5 0 6.8-5.9 11-11.5 16S25 41.3 24 41.9c-1.1-.7-4.7-4-9.5-8.3-5.7-5-11.5-9.2-11.5-16C3 11.3 7.7 6.1 13.4 6.1c4.2 0 6.5 2 8.1 4.3 1.9 2.6 2.2 3.9 2.5 3.9.3 0 .6-1.3 2.5-3.9 1.6-2.3 3.9-4.3 8.1-4.3m0-3c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5.6 0 1.1-.2 1.6-.5 1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z"
                  ></path></svg
              ></a>
              <div class="poA5q" style="margin-left: -423px"></div>
            </div>
            <div class="Fifk5">
              <div class=""></div>
              <!-- <span class="_2dbep qNELH" role="link" tabindex="0"
                                style="width: 22px; height: 22px;"><img alt="eajajul_haque's profile picture"
                                    class="_6q-tv" data-testid="user-avatar" draggable="false"
                                    src="https://instagram.fdac9-1.fna.fbcdn.net/v/t51.2885-19/s150x150/34479655_227508681390159_6875118592120061952_n.jpg?_nc_ht=instagram.fdac9-1.fna.fbcdn.net&amp;_nc_ohc=vuWqcSVTv-sAX-VrQdU&amp;tp=1&amp;oh=06bca3d2ed89dcfc51e9eac60d8c247e&amp;oe=5FEEDB17">
                            </span> -->
              <div class="poA5q" style="margin-left: -180px"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="body">
  <header>
    <div class="container">
      <div class="profile">
        <div class="profile-image">
          <img
            src="https://images.unsplash.com/photo-1513721032312-6a18a42c8763?w=152&h=152&fit=crop&crop=faces"
            alt=""
          />
        </div>

        <div class="profile-user-settings">
         
          {{#if  user}}
          <h1 class="profile-user-name">{{user.firstName}}</h1>
          {{/if}}

          <button class="btn profile-edit-btn">Edit Profile</button>

          <button
            class="btn profile-settings-btn"
            aria-label="profile settings"
          >
            <i class="fas fa-cog" aria-hidden="true"></i>
          </button>
        </div>

        <div class="profile-stats">
          <ul>
            <li><span class="profile-stat-count">164</span> posts</li>
            <li><span class="profile-stat-count">188</span> followers</li>
            <li><span class="profile-stat-count">206</span> following</li>
          </ul>
        </div>

        <div class="profile-bio">
          <p>
            <span class="profile-real-name">Jane Doe</span> Lorem ipsum dolor
            sit, amet consectetur adipisicing elit 📷✈️🏕️
          </p>
        </div>
      </div>
      <!-- End of profile section -->
    </div>
    <!-- End of container -->
  </header>

  <main>
    <div class="container">
      <div class="gallery">
        <div class="gallery-item" tabindex="0">
          <img
            src="https://images.unsplash.com/photo-1511765224389-37f0e77cf0eb?w=500&h=500&fit=crop"
            class="gallery-image"
            alt=""
          />

          <div class="gallery-item-info">
            <ul>
              <li class="gallery-item-likes">
                <span class="visually-hidden">Likes:</span
                ><i class="fas fa-heart" aria-hidden="true"></i> 56
              </li>
              <li class="gallery-item-comments">
                <span class="visually-hidden">Comments:</span
                ><i class="fas fa-comment" aria-hidden="true"></i> 2
              </li>
            </ul>
          </div>
        </div>

        <div class="gallery-item" tabindex="0">
          <img
            src="https://images.unsplash.com/photo-1497445462247-4330a224fdb1?w=500&h=500&fit=crop"
            class="gallery-image"
            alt=""
          />

          <div class="gallery-item-info">
            <ul>
              <li class="gallery-item-likes">
                <span class="visually-hidden">Likes:</span
                ><i class="fas fa-heart" aria-hidden="true"></i> 89
              </li>
              <li class="gallery-item-comments">
                <span class="visually-hidden">Comments:</span
                ><i class="fas fa-comment" aria-hidden="true"></i> 5
              </li>
            </ul>
          </div>
        </div>

        <div class="gallery-item" tabindex="0">
          <img
            src="https://images.unsplash.com/photo-1426604966848-d7adac402bff?w=500&h=500&fit=crop"
            class="gallery-image"
            alt=""
          />

          <div class="gallery-item-type">
            <span class="visually-hidden">Gallery</span
            ><i class="fas fa-clone" aria-hidden="true"></i>
          </div>

          <div class="gallery-item-info">
            <ul>
              <li class="gallery-item-likes">
                <span class="visually-hidden">Likes:</span
                ><i class="fas fa-heart" aria-hidden="true"></i> 42
              </li>
              <li class="gallery-item-comments">
                <span class="visually-hidden">Comments:</span
                ><i class="fas fa-comment" aria-hidden="true"></i> 1
              </li>
            </ul>
          </div>
        </div>

        <div class="gallery-item" tabindex="0">
          <img
            src="https://images.unsplash.com/photo-1502630859934-b3b41d18206c?w=500&h=500&fit=crop"
            class="gallery-image"
            alt=""
          />

          <div class="gallery-item-type">
            <span class="visually-hidden">Video</span
            ><i class="fas fa-video" aria-hidden="true"></i>
          </div>

          <div class="gallery-item-info">
            <ul>
              <li class="gallery-item-likes">
                <span class="visually-hidden">Likes:</span
                ><i class="fas fa-heart" aria-hidden="true"></i> 38
              </li>
              <li class="gallery-item-comments">
                <span class="visually-hidden">Comments:</span
                ><i class="fas fa-comment" aria-hidden="true"></i> 0
              </li>
            </ul>
          </div>
        </div>

        <div class="gallery-item" tabindex="0">
          <img
            src="https://images.unsplash.com/photo-1498471731312-b6d2b8280c61?w=500&h=500&fit=crop"
            class="gallery-image"
            alt=""
          />

          <div class="gallery-item-type">
            <span class="visually-hidden">Gallery</span
            ><i class="fas fa-clone" aria-hidden="true"></i>
          </div>

          <div class="gallery-item-info">
            <ul>
              <li class="gallery-item-likes">
                <span class="visually-hidden">Likes:</span
                ><i class="fas fa-heart" aria-hidden="true"></i> 47
              </li>
              <li class="gallery-item-comments">
                <span class="visually-hidden">Comments:</span
                ><i class="fas fa-comment" aria-hidden="true"></i> 1
              </li>
            </ul>
          </div>
        </div>

        <div class="gallery-item" tabindex="0">
          <img
            src="https://images.unsplash.com/photo-1515023115689-589c33041d3c?w=500&h=500&fit=crop"
            class="gallery-image"
            alt=""
          />

          <div class="gallery-item-info">
            <ul>
              <li class="gallery-item-likes">
                <span class="visually-hidden">Likes:</span
                ><i class="fas fa-heart" aria-hidden="true"></i> 94
              </li>
              <li class="gallery-item-comments">
                <span class="visually-hidden">Comments:</span
                ><i class="fas fa-comment" aria-hidden="true"></i> 3
              </li>
            </ul>
          </div>
        </div>

        <div class="gallery-item" tabindex="0">
          <img
            src="https://images.unsplash.com/photo-1504214208698-ea1916a2195a?w=500&h=500&fit=crop"
            class="gallery-image"
            alt=""
          />

          <div class="gallery-item-type">
            <span class="visually-hidden">Gallery</span
            ><i class="fas fa-clone" aria-hidden="true"></i>
          </div>

          <div class="gallery-item-info">
            <ul>
              <li class="gallery-item-likes">
                <span class="visually-hidden">Likes:</span
                ><i class="fas fa-heart" aria-hidden="true"></i> 52
              </li>
              <li class="gallery-item-comments">
                <span class="visually-hidden">Comments:</span
                ><i class="fas fa-comment" aria-hidden="true"></i> 4
              </li>
            </ul>
          </div>
        </div>

        <div class="gallery-item" tabindex="0">
          <img
            src="https://images.unsplash.com/photo-1515814472071-4d632dbc5d4a?w=500&h=500&fit=crop"
            class="gallery-image"
            alt=""
          />

          <div class="gallery-item-info">
            <ul>
              <li class="gallery-item-likes">
                <span class="visually-hidden">Likes:</span
                ><i class="fas fa-heart" aria-hidden="true"></i> 66
              </li>
              <li class="gallery-item-comments">
                <span class="visually-hidden">Comments:</span
                ><i class="fas fa-comment" aria-hidden="true"></i> 2
              </li>
            </ul>
          </div>
        </div>

        <div class="gallery-item" tabindex="0">
          <img
            src="https://images.unsplash.com/photo-1511407397940-d57f68e81203?w=500&h=500&fit=crop"
            class="gallery-image"
            alt=""
          />

          <div class="gallery-item-type">
            <span class="visually-hidden">Gallery</span
            ><i class="fas fa-clone" aria-hidden="true"></i>
          </div>

          <div class="gallery-item-info">
            <ul>
              <li class="gallery-item-likes">
                <span class="visually-hidden">Likes:</span
                ><i class="fas fa-heart" aria-hidden="true"></i> 45
              </li>
              <li class="gallery-item-comments">
                <span class="visually-hidden">Comments:</span
                ><i class="fas fa-comment" aria-hidden="true"></i> 0
              </li>
            </ul>
          </div>
        </div>

        <div class="gallery-item" tabindex="0">
          <img
            src="https://images.unsplash.com/photo-1518481612222-68bbe828ecd1?w=500&h=500&fit=crop"
            class="gallery-image"
            alt=""
          />

          <div class="gallery-item-info">
            <ul>
              <li class="gallery-item-likes">
                <span class="visually-hidden">Likes:</span
                ><i class="fas fa-heart" aria-hidden="true"></i> 34
              </li>
              <li class="gallery-item-comments">
                <span class="visually-hidden">Comments:</span
                ><i class="fas fa-comment" aria-hidden="true"></i> 1
              </li>
            </ul>
          </div>
        </div>

        <div class="gallery-item" tabindex="0">
          <img
            src="https://images.unsplash.com/photo-1505058707965-09a4469a87e4?w=500&h=500&fit=crop"
            class="gallery-image"
            alt=""
          />

          <div class="gallery-item-info">
            <ul>
              <li class="gallery-item-likes">
                <span class="visually-hidden">Likes:</span
                ><i class="fas fa-heart" aria-hidden="true"></i> 41
              </li>
              <li class="gallery-item-comments">
                <span class="visually-hidden">Comments:</span
                ><i class="fas fa-comment" aria-hidden="true"></i> 0
              </li>
            </ul>
          </div>
        </div>

        <div class="gallery-item" tabindex="0">
          <img
            src="https://images.unsplash.com/photo-1423012373122-fff0a5d28cc9?w=500&h=500&fit=crop"
            class="gallery-image"
            alt=""
          />

          <div class="gallery-item-type">
            <span class="visually-hidden">Video</span
            ><i class="fas fa-video" aria-hidden="true"></i>
          </div>

          <div class="gallery-item-info">
            <ul>
              <li class="gallery-item-likes">
                <span class="visually-hidden">Likes:</span
                ><i class="fas fa-heart" aria-hidden="true"></i> 30
              </li>
              <li class="gallery-item-comments">
                <span class="visually-hidden">Comments:</span
                ><i class="fas fa-comment" aria-hidden="true"></i> 2
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- End of gallery -->

      <!-- <div class="loader"></div> -->
    </div>
    <!-- End of container -->
  </main>
</div>

<script>
  
</script>