<style></style>
<% if (typeof(errors) !=='undefined') { %>
    <% errors.forEach(element => { %>
        <h1><%= JSON.stringify(element.param) %></h1>
    <% }) %>
<% } %> 
<%- include('./login') %>

<script>
  $(document).ready(function () {
    $('.register').show();
    $('.login').hide();
  });
</script>
